.header {
  background-color: #fff;
  padding: 20px 0;
  color: #000;
}
.content {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
}

.nav-item {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: #555;
  font-size: 16px;
  font-weight: 500;
  transition: transform 0.3s ease;
  min-width: 250px;
}
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
  }
  .nav-item {
    justify-content: start;
    min-width: 0;
  }
}

.nav-item:hover,
.nav-item-active {
  color: #4998f2;
  transform: scale(1.05);
}

.arrowIcon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}
